<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258237932870-lrlufu15ql3shb1ct2gd14im7umemh6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258237932870-lrlufu15ql3shb1ct2gd14im7umemh6f</string>
	<key>API_KEY</key>
	<string>AIzaSyAnOYDGH_4NzytaXgEbxtzKihYawPG-3sE</string>
	<key>GCM_SENDER_ID</key>
	<string>258237932870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.collegeTinder</string>
	<key>PROJECT_ID</key>
	<string>college-hearts-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>college-hearts-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258237932870:ios:e1742336d16c38c7f9f147</string>
</dict>
</plist>